{
    "extends": ["airbnb"],
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/react-in-jsx-scope": [0],
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "comma-dangle": ["off"]
    }
}